/*
 * This used to be in index.html. I believe it's all from dark reader
    <link rel="stylesheet" href="./literally-canvas-local-storage_files/better.css" type="text/css">
    <link rel="stylesheet" href="./literally-canvas-local-storage_files/pygments.css" type="text/css">
    <style id="dark-reader-style" type="text/css">@media screen {
*/
/* Leading rule */
/*html {
  -webkit-filter: invert(100%) hue-rotate(180deg) brightness(110%) contrast(90%) grayscale(20%) sepia(10%) !important;
}
*/
/* Contrary rule */
/*img, iframe, video, *:not(object):not(body)>embed, object,
svg image,
*[style*="background:url"]:empty, *[style*="background-image:url"]:empty,
*[style*="background: url"]:empty, *[style*="background-image: url"]:empty {
  -webkit-filter: invert(100%) hue-rotate(180deg) !important;
}
*/
/* Text contrast */
/*html {
  text-shadow: 0 0 0 !important;
}
*/
/* Full screen */
/**:-webkit-full-screen, *:-webkit-full-screen * {
  -webkit-filter: none !important;
}
*/
/* Page background */
/*html {
  background: rgb(13,13,13) !important;
}

    }
    */

html {
  background: rgb(13,13,13);
}

.literally {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
  position: relative;
  height: 90vh;
}
